<div id="weaved">
  <legend>Master</legend>
  <fieldset>
    <input type="button" value="On" onClick="Weaved.weavedOn()">
    <input type="button" value="Off" onClick="Weaved.weavedOff()">
  </fieldset>
  <div class="weavedResponse"></div>
</div>
